## Массивы.

Аналогом массивов в Паскале и С++ в Питоне являются списки.

Раньше мы сталкивались с задачей обработки элементов последовательности, например, вычисляя наибольший элемент последовательности. Но при этом мы не сохраняли всю последовательность в памяти компьютера, однако, во многих задачах нужно именно сохранять всю последовательность, например, если бы нам требовалось вывести все элементы последовательности в возрастающем порядке (“отсортировать последовательность”).

In [23]:
Primes = [2, 3, 5, 7, 11, 13]
Rainbow = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Violet']

### Способы считывания

Пусть сначала вводится число элементов, а затем сами элементы по одному в строке.

In [27]:
A = []
size = int(input())
for i in range(size):
    A.append(int(input()))

6
1
2
3
4
5
6

In [28]:
A

[1, 2, 3, 4, 5, 6]

Вывод (по одному в строке):

In [29]:
for i in range(len(A)):
    print(A[i])

1
2
3
4
5
6

In [30]:
a = input()

1 2 3 4 5 6

In [32]:
a.split()

['1', '2', '3', '4', '5', '6']

Также элементы списка могут вводиться сразу в одной строке.

In [33]:
n = int(input())
A = input().split()

5
1 2 3 4 5

In [34]:
A

['1', '2', '3', '4', '5']

Если хочется получить список именно из чисел, то можно затем элементы списка по одному преобразовать в числа:

In [35]:
for i in range(len(A)):
    A[i] = int(A[i])
print(A)

[1, 2, 3, 4, 5]

Используя функции языка map и list то же самое можно сделать в одну строку:

In [37]:
A = list(map(int, input().split()))

1 2 3 4 5

In [38]:
A

[1, 2, 3, 4, 5]

In [41]:
A = ['red', 'green', 'blue']
print(' '.join(A))
print(''.join(A))
print('***'.join(A))

red green blue
redgreenblue
red***green***blue

Для списков из чисел не работает!

In [42]:
A = [1, 2, 3]
print(' '.join(A))
print(''.join(A))
print('***'.join(A))

TypeError: sequence item 0: expected str instance, int found

Если же список состоит из чисел, то придется использовать еще и функцию map. То есть вывести элементы списка чисел, разделяя их пробелами, можно так:

In [43]:
print(' '.join(map(str, A)))

1 2 3

Со списками можно легко делать много разных операций.

In [44]:
A = [1, 2, 1, 4, 5, 6, 2, 1]

In [46]:
100 in A

False

In [47]:
2 not in A

False

In [48]:
min(A)

1

In [49]:
max(A)

6

In [50]:
A.index(2)

1

In [51]:
A.index(3)

ValueError: 3 is not in list

In [52]:
A.count(1)

3